<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJPB_GZfeipGofP852UZq-sX6pU2yD2TI</string>
	<key>GCM_SENDER_ID</key>
	<string>835485449092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yummyChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yummy-chat-app-c622c</string>
	<key>STORAGE_BUCKET</key>
	<string>yummy-chat-app-c622c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835485449092:ios:d39146956479c20e5cbbd1</string>
</dict>
</plist>